
    body {
      background-color: #fffbea;
      font-family: "Segoe UI", sans-serif;
      
    }
    h1{
        background-color: yellow;
        color:blue;
    }

    nav {
      background-color: red;
      padding: 15px 0;
      text-align: center;
      color: white;
    }

    nav h1 {
      color: white;
      margin-bottom: 15px;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    nav ul li {
      display: inline-block;
      margin: 0 15px;
    }

    nav ul li a {
      color: green;
      background-color: white;
      padding: 8px 16px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      transition: 0.3s ease;
    }

    nav ul li a:hover {
      background-color: #1b5e20;
      color: white;
      transform: scale(1.1);
    }

    h2 {
      color: #5e1b48;
      margin: 30px 0;
    }

    .card {
      border: none;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: 0.3s ease;
      height: 100%;
    }

    .card:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    }

    .card-img-top {
      height: 200px;
      object-fit: cover;
      
    }

    footer {
      background-color: #2e7d32;
      color: white;
      text-align: center;
      padding: 15px 0;
      margin-top: 40px;
      font-weight: bold;
    }